.animate-spin {
    animation-name: spin;
}

.animate-linear {
    animation-timing-function: linear;
}

.animate-infinite {
    animation-iteration-count: infinite;
}

.animate {
    animation-duration: 3000ms;
}

.animate-fast {
    animation-duration: 2000ms;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.slider-bg {
    z-index: 2;
    position: relative;
    cursor: pointer;
}

.slider-bg:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    border-radius: .5rem;
    z-index: -2;
}

.slider-bg:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color:rgba(0,0,0,0.2);
    transition: all .3s;
    border-radius: .5rem;
    z-index: 1;
}

.slider-bg:hover:before {
    width: 100%;
}
