@import "animations.css";

@tailwind base;
@tailwind components;

.form-control {
    line-height: normal;
}

.form-control-input {
    @apply bg-white border border-gray-500 p-1 text-lg rounded-lg;
}

.form-control-error {
    @apply border-red-500;
}

.button {
    @apply inline-block no-underline font-bold;
}

.button-default {
    @apply h-8 px-6 leading-loose rounded-lg uppercase text-sm;
}

.button-primary {
    @apply bg-blue-500 text-white;
}

.button-white {
    @apply bg-white text-blue-500
}

.button-positive {
    @apply bg-green-500 text-white
}

.button-positive:hover {
    @apply bg-green-700;
}

.button-negative {
    @apply bg-red-500 text-white
}

.button-positive:hover {
    @apply bg-red-700;
}

.button-text-shadow {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.architect-container {
    width: 100%;
}

.transition-bg {
    transition: background-color 0.5s ease;
}

.transition-colour {
    transition: colour 0.5s ease;
}

.transition-both {
    transition: background-colour 0.5s ease, colour 0.5s ease;
}

.paginator-page {
    @apply py-1 px-2 text-blue-500 font-bold cursor-pointer transition-both bg-white;
}

.paginator-page:hover {
    @apply bg-blue-500 text-white;
}

.paginator-page-border {
    @apply border-r-2 border-blue-500;
}

.paginator-page-active {
    @apply border-r-2 border-blue-500 py-1 px-2 text-white font-bold cursor-pointer bg-blue-500;
}

.tooltip {
    @apply block z-50 shadow-xl;
}

.tooltip .tooltip-inner {
    @apply bg-blue-500 text-white rounded px-8 py-1;
}

.tooltip .tooltip-arrow {
    @apply w-0 h-0 absolute m-2 border-blue-500 z-10;
}

.tooltip[x-placement^="bottom"] {
    @apply mt-2;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
    @apply my-0;

    border-width: 0 8px 8px 8px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    top: -5px;
    left: calc(50% - 5px);
}

.tooltip.popover .popover-inner {
    @apply bg-gray-800 text-blue-500 p-6 rounded shadow;
}

.tooltip.popover .popover-arrow {
    border-width: 8px;
}

.tooltip[aria-hidden='true'] {
    @apply invisible opacity-0;
    transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden='false'] {
    @apply visible opacity-100;

    transition: opacity .15s;
}

@tailwind utilities;
