@import "animations.css";

@tailwind base;
@tailwind components;

:root {
    --black: #000;
    --white: #fff;
    --primary: #229aa3;
    --positive: #2cde25;
    --negative: #CF221F;
    --highlight: #225669;

    --negative-50: rgba(207, 34, 31, 0.5);

    --positive-75: rgba(44, 222, 37, 0.75);

    --black-90: rgba(0,0,0,0.9);
    --black-50: rgba(0,0,0,0.5);
    --black-10: rgba(0,0,0,0.1);

    --white-05: rgba(255,255,255,0.05);
    --white-10: rgba(255,255,255,0.1);
    --white-20: rgba(255,255,255,0.2);
    --white-50: rgba(255,255,255,0.5);

    --highlight-75: rgba(34, 86, 105, 0.75);
    --highlight-50: rgba(34, 86, 105, 0.5);
    --highlight-25: rgba(34, 86, 105, 0.25);
    --highlight-10: rgba(34, 86, 105, 0.1);

    --primary-10: rgba(34, 154, 163, 0.1);
    --primary-50: rgba(34, 154, 163, 0.5);

    --1: #111;
    --2: #222;
    --3: #666;
    --4: #787878;
    --5: #bbb;
    --6: #ccc;
    --7: #e8e8e8;
    --8: #f7f7f7;
    --9: #fbfbfb;
}

.form-control {
    line-height: normal;
}

.form-control-input {
    @apply bg-white border border-5 p-1 text-lg rounded-lg;
}

.form-control-error {
    @apply border-negative;
}

.button {
    @apply inline-block no-underline font-bold;
}

.button-default {
    @apply h-8 px-6 leading-loose rounded-lg shadow button-text-shadow;
}

.button-primary {
    @apply bg-primary text-white;
}

.button-white {
    @apply bg-white text-primary
}

.button-positive {
    @apply bg-positive text-white
}

.button-positive:hover {
    @apply bg-positive-75;
}

.button-text-shadow {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.architect-container {
    width: 100%;
}

.transition-bg {
    transition: background-color 0.5s ease;
}

.transition-colour {
    transition: colour 0.5s ease;
}

.paginator-page {
    @apply py-1 px-2 text-primary font-bold cursor-pointer transition-colour transition-bg bg-white;
}

.paginator-page:hover {
    @apply bg-primary text-white;
}

.paginator-page-border {
    @apply border-r-2 border-primary;
}

.paginator-page-active {
    @apply border-r-2 border-primary py-1 px-2 text-white font-bold cursor-pointer bg-primary;
}

.tooltip {
    @apply block z-50 shadow-xl;
}

.tooltip .tooltip-inner {
    @apply bg-primary text-white rounded px-8 py-1;
}

.tooltip .tooltip-arrow {
    @apply w-0 h-0 absolute m-2 border-primary z-10;
}

.tooltip[x-placement^="bottom"] {
    @apply mt-2;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
    @apply my-0;

    border-width: 0 8px 8px 8px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    top: -5px;
    left: calc(50% - 5px);
}

.tooltip.popover .popover-inner {
    @apply bg-8 text-primary p-6 rounded shadow;
}

.tooltip.popover .popover-arrow {
    border-width: 8px;
}

.tooltip[aria-hidden='true'] {
    @apply invisible opacity-0;
    transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden='false'] {
    @apply visible opacity-100;

    transition: opacity .15s;
}

@tailwind utilities;